

body {
  width:550px;
  margin:auto;
  margin-top:-30px;
  font-family: 'Lora', serif;
  line-height:1.5;
  font-size:19px;
  border-radius:30px;
}

h1 { 
  font-family: 'Comic Neue', cursive;
  font-size: 70px;
  text-align:center;
  font-weight:normal;
  font-style:normal;
  padding:10px;
  background-color:red;
  color:white;
  border:1px dashed white;
}

h2 {
  font-size:32px;
  background-color:red;
  color:white;
  text-align:center;
  margin-bottom:-6px;
}

p{
  padding:30px;
  border-radius:6px;
  background-color:rgba(255,255,255,0.8);
  margin-top:0px;
  font-family: 'Comic Neue', cursive;
}

h3 {
    font-size: 28px;
    font-family: 'Comic Neue', cursive;
    
}
